<ion-header [translucent]="true" >
  <ion-toolbar class="new-background-color">
    <ion-title  class="ion-text-center">

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Generación con valores</strong>
  </div>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="new-background-color">
    <ion-title class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>
