<ion-header [translucent]="true" >
  <ion-toolbar class="new-background-color">
    <ion-title  class="ion-text-center">

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div  style="text-align:center">
    <h1>Genereacion con valores</h1>
    <h3>Que son los valores?</h3>
    <p style="text-align: center;">Los valores tienen una importancia imprescindible en el desarrollo del adolescente,
      permiten la convivencia y al armonía en cualquier relación social, por lo tanto,
      ejercerlos engrandece nuestro ser.</p>
    <p> Instrucciones: </p>
    <p> Para ver las imagenes enfoque los codigos QR </p>
  </div>
  <!-- <div>
    <img width="80" height="80" src="src\assets\valor.jpg">
  </div> -->
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="new-background-color">
    <ion-title class="ion-text-center"></ion-title>

      <ion-button slot="end" routerLink="/escena" color="success">Continuar <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>


  </ion-toolbar>
</ion-footer>
